html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --hero-heading: #ffffff;
  --headings: #212121;
  --crew-bcg: #f5f4fa;
  --hero-footer-bcg: #2f303a;
  --paragraph-contact: #757575;
  --footer-contacts: #ffffff99;
}

body {
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
  margin:0;

}
.container{
  width: 1200px;
  margin: 0 auto;
  
}
h1,
h2,
h3,
p
{
  margin-top: 0;
  margin-bottom: 0;
}

.nav-bar{
  outline: 1px solid tomato;
 
}
.logo-header {
  text-decoration: none;
  color: var(--black);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer {
  text-decoration: none;
  color: var(--white);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web {
  color: var(--blue);
}

.nav-list {
  list-style-type: none;
  margin-top:0;
  padding-left:0;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--headings);
  text-decoration: none;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--blue);
}
.current {
  color: var(--blue);
}
.contacts-list {
  list-style-type: none;
  margin-bottom: 0;
  margin-top:0;
  padding-left:0;
}
.contacts-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-contact);
  text-decoration: none;
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--blue);
}
.hero-box {
  background-color: var(--hero-footer-bcg);
  outline:tomato solid 1px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-heading);
}
.button {
  font-family: Roboto;
  background-color: var(--blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}
.features{
  outline: tomato solid 1px;
}
.features-list {
  list-style-type: none;
  margin-bottom: 0;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--headings);
}
.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--paragraph-contact);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--headings);
}
.services{
  outline: tomato solid 1px;
  }

.services-list {
  list-style-type: none;
  margin-top:0;
  margin-bottom:0;
  padding-left:0;
}
.crew {
  background-color: var(--crew-bcg);
  outline: tomato solid 1px;
}
.crew-list {
  list-style-type: none;
    margin-top:0;
  margin-bottom:0;
  padding-left:0;
}
.crew-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--headings);
}
.crew-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--paragraph-contact);
}
.footer {
  background-color: var(--hero-footer-bcg);
}

.physical-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}
.mail,
.telnumber {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-contacts);
}

/* begins the portolio page */
.btns {
  list-style-type: none;
  margin-top:0;
  margin-bottom:0;
  padding-left:0;
}
.btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  color: var(--headings);
}
.btn:hover,
.btn:focus {
  background-color: var(--blue);
  color: var(--white);
}
.projects-list {
  list-style-type: none;
   margin-top:0;
  margin-bottom:0;
  padding-left:0;
}
.projects-link {
  text-decoration: none;
}
.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--headings);
}
.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--paragraph-contact);
}
